body { padding-top: 20px; }
span.group { display: inline-block; }

.span3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.span3:hover {
  transform: scale(1.05);
}
 
.btn.disabled,
.btn[disabled] {
    opacity: 0.50;
    background-color: #b7ced9;
 }

footer.footer {
    clear: both;
    padding-top: 10px;
}

div#image-container {
    text-align: center;
}

div#image-container canvas#image {
    margin: 0px auto;
}

div#colorbar-container {
    display: inline-block;
    width: 70%;
}

div#colorbar-container canvas#colorbar {
    width: 80%;
    height: 2em;
    vertical-align: middle;
}
